@import 'antd/dist/antd.css';
.main {
    margin-top:10px;
    text-align: center;
    text-transform: uppercase;
    color: #1976d2 !important;
    font-family: serif;
}

.btn1{
    float:left;
    text-align: center;
    font-family: initial;
    margin-left: 5px;

}

.input{
    margin-left: 5px;
    height: 25px;
}

.div1{
    float: left;
    margin-left: 5px;
}

.div2{
    display: block;
}

.fa_custom{
    box-shadow: 0 0 2px #888;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    display: inline-block;
}

.fa-trash-o{
    color: red;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
}
.span1{
    margin-left: 10px!important;
}

