@import 'antd/dist/antd.css';
.div2{
    display: block;
}

.fa_custom{
    box-shadow: 0 0 2px #888;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    display: inline-block;
}

.fa-trash-o{
    color: red;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
}

.i-color{
   color : green
}

.span1{
    margin-left: 10px!important;
}

.ul-list{
    display:table; 
     margin-top:20px;
}

.li-list{
    display: table-cell;
}

.icon{
    font-size:20px;
    color:gold;
}

.name{
    width : 30px;
    padding-left: 5px;
}

.hh{
    display: none;
}

.btn2{
    text-align: center;
    font-family: initial;
    width: 70px;

}

li:hover + .hh, .hh:hover{
    display: inline-block;
}

input{
    margin-left: 10px;
}

.icon-color{
    color : red;
}

